body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4CAF50; /* Green background */
    overflow: hidden;
}

.navbar ul {
    size: 10pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    padding: 14px 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 13pt;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #45a049; /* Darker green on hover */
    font: 20pt;
}

header {
    margin-bottom: 20px;
}
#h11 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 0px 0px 0px  rgb(0, 98, 0)
                0px 0px 10px  rgb(0, 98, 0)
             0px 0px 20px rgb(0, 98, 0);
    color:  rgb(0, 98, 0);
    text-align: center;
    position: relative;
}
p {
    padding: 20pt;
    text-align:center;
    background-color: #f4f4f4;
    padding: 20pt;
}
#b1{
    background-color:black;
    color: white;
}
#a2 {
    color:red;
}
#a1 {
color: blue;
}
h6 {
 text-align: center;
 text-shadow: 25pt 20pt 25pt black;
}
#button1 {
color: darkgreen;
background-color: burlywood;
font-size: large;

}
input {
    border-radius: 20pt;
    border-color: #45a049;
    font-size: 10pt;
    padding: 15pt;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center
}
input:hover {
    border-color: greenyellow;
    font-size: 11pt;
    font-weight: bold;
}
#text {
    font-size: 10pt;
    size: 10pt;
    border-color: white;
    border: solid;
    position: relative;
    left: -50pt;
    top: 130pt;
    font-weight: bold;

}
button {
    color: black;
    position: relative;
    left: 80pt;
    font-size: 20pt;
    border-radius: 10pt;
    background-color: #4CAF50;
    color: white;
    border: solid;
    top: 30pt;
}
button:hover {
    background-color:rgb(7, 128, 7);
    color: aliceblue;
    color: azure;
}
select {
    font-size: 15pt;
    position: relative;
    left: 6pt;
    border-radius: 10pt;
    color: white;
    background-color:green;
}
option {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    color: white;
    font-size: 15pt;
}
option:hover {
    font-weight: bold;
    background-color: #4CAF50;
}
.div1 {
    position: relative;
    bottom: 70pt;
}
#lsspic{
    size: 100pt;
    width: auto;
    height: 450pt;
}
